h1 {
  font-size: 70px;
  margin-bottom: 0;
  font-family: "Wire One", sans-serif;
  padding-top: 10px;
}
h2 {
  font-size: 17px;
  padding-top: 0;
  padding-bottom: 20px;
}

li {
  align-content: center;
  font-size: 16px;
  list-style: none;
  line-height: 34px;
  padding: 0;
  text-align: center;
}
.container {
  border-radius: 10px;
  background-color: #ec6e4c;
  color: #f8f1f1;
  display: block;
  font-family: "Advent Pro", sans-serif;
  max-width: 600px;
  margin: 25px auto;
  padding: 25px 50px 25px 50px;
  text-align: center;
  box-shadow: 7px 7px 2px 1px rgba(22, 105, 122, 0.1);
}
.search-form {
  padding-top: 5px;
  padding-bottom: 15px;
}
.column-today-data-left {
  text-align: right;
  font-size: 80px;
}
.column-today-data-middle {
  color: #f8f1f1;
  font-family: "Wire One", sans-serif;
  font-size: 60px;
  line-height: 50px;
  text-align: center;
  line-height: 57px;
}
.column-today-data-right {
  align-content: start;
  font-size: 16px;
  list-style: none;
  line-height: 34px;
  padding: 0;
}
.today-temp {
  display: block;
  margin: 0 auto;
  background-color: #16697a;
  border-radius: 5px;
}
.card {
  background-color: #16697a;
  border: none;
  color: #f8f1f1;
  height: 120px;
  margin-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}

.weather-temperature .active {
  color: #f8f1f1;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.footer-links {
  color: #f8f1f1;
  text-decoration: underline;
}
.footer-links:hover {
  color: #16697a;
  text-decoration: none;
}
