h1 {
  font-size: 70px;
  margin-bottom: 0;
  font-family: "Wire One", sans-serif;
  padding-top: 10px;
}
h2 {
  font-size: 17px;
  padding-top: 0;
  padding-bottom: 20px;
}

li {
  align-content: center;
  font-size: 16px;
  list-style: none;
  line-height: 34px;
  padding: 0;
  text-align: center;
}
.container {
  border-radius: 10px;
  background-image: linear-gradient(#145374 0%, #00334e 100%);
  color: #f6f5f5;
  display: block;
  font-family: "Advent Pro", sans-serif;
  max-width: 600px;
  margin: 25px auto;
  padding: 25px 50px 25px 50px;
  text-align: center;
}
.search-form {
  padding-top: 5px;
  padding-bottom: 15px;
}
.column-today-data-left {
  text-align: right;
  font-size: 80px;
}
.column-today-data-middle {
  color: #f6f5f5;
  font-family: "Wire One", sans-serif;
  font-size: 60px;
  line-height: 50px;
  text-align: center;
}
.column-today-data-right {
  align-content: start;
  font-size: 16px;
  list-style: none;
  line-height: 34px;
  padding: 0;
}
.today-temp {
  display: block;
  margin: 0 auto;
  background-color: #ee6f57;
  background-image: linear-gradient(#ee6f57 0%, #145374 100%);
  border-radius: 5px;
}
.card {
  background-image: linear-gradient(#145374 0%, #ee6f57 100%);
  border: none;
  color: #f6f5f5;
  height: 120px;
  margin-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}
#celsius-link {
  color: #f6f5f5;
  text-decoration: none;
}
#celsius-link:hover {
  transition: 200ms all ease-in-out;
  opacity: none;
  text-decoration: none;
  color: #f6f5f5;
}
#fahrenheit-link {
  color: #f6f5f5;
  opacity: 0.4;
}
#fahrenheit-link:hover {
  transition: 200ms all ease-in-out;
  font-weight: bold;
  opacity: none;
  text-decoration: none;
  color: #f6f5f5;
}
