h1 {
  font-size: 70px;
  margin-bottom: 0;
  font-family: "Wire One", sans-serif;
  padding-top: 10px;
}
h2 {
  font-size: 17px;
  padding-top: 0;
  padding-bottom: 20px;
}

.container {
  border-radius: 10px;
  background-color: #ec6e4c;
  color: #f8f1f1;
  display: block;
  font-family: "Advent Pro", sans-serif;
  max-width: 600px;
  margin: 25px auto;
  padding: 25px 50px 25px 50px;
  text-align: center;
  box-shadow: 12px 29px 30px 0px rgba(22, 105, 122, 0.5);
}
.search-form {
  padding-top: 5px;
  padding-bottom: 15px;
  width: 527px;
}
.column-today-data-left {
  text-align: right;
}
.column-today-data-middle {
  color: #f8f1f1;
  font-family: "Wire One", sans-serif;
  font-size: 60px;
  line-height: 50px;
  text-align: left;
  line-height: 57px;
}

#units {
  font-size: 40px;
  position: relative;
  top: -15px;
}

.today-temp {
  display: block;
  margin: 0 auto;
  background-color: #16697a;
  border-radius: 5px;
}

.today-humidity-wind {
  margin-top: 15px;
}

.weather-temperature .active {
  color: #f8f1f1;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.footer-link {
  color: #f8f1f1;
  text-decoration: underline;
}
.footer-link:hover {
  color: #16697a;
  text-decoration: none;
}
